model_config_list:{
    config:{
      name:"keras_deepfm",
      base_path:"/models/tensorflow_serving/keras_deepfm",
      model_platform:"tensorflow"
    },
    config:{
      name:"keras_xdeepfm",
      base_path:"/models/tensorflow_serving/keras_xdeepfm",
      model_platform:"tensorflow"
    },
    config:{
      name:"keras_wd",
      base_path:"/models/tensorflow_serving/keras_wd",
      model_platform:"tensorflow"
    }
}